body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #e8f5e9;
  color: #1b5e20;
  
}

header {
  background-color: #388e3c;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

div.paginaInicialImagem{
  min-width: 300px;
  max-width: 1200px;
}

section {
  padding: 20px;
  text-align: center;
}

#quiz-container {
  background: white;
  border-radius: 10px;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

input, select, button {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #43a047;
}

.paginaInicialImagem {
  width: 600px;
  height: 1250px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 40px;
  
}

footer {
  background-color: #388e3c;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
