@charset "UTF-8";




:root {
     --fonte-principal: 'Arial';
     --fonte-tamanho: 12px;
     --cor01: #54ff29;
     --cor02: #34e009;
     --cor03: #27ae06;
     --cor04: #1f7c08;
     --cor05: #1b7006;
     --cor06: #134d03;
     --cor-fundo: #c0fdc0;
     --cor-botao: #25960b;
     --cor-botao-hover: #5df365;
     --cor-texto: #0a4504;
     --cor-texto-botao: #e7ffe7;
     --cor-rodape: #485545;
 }

 * {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-principal);
 }
 
 body {
     background-color: var(--cor-fundo);
     color: var(--cor-texto);
     text-align: justify;
 }
 header {
    height: 65px;
    background-image: linear-gradient(to top, var(--cor01), var(--cor06)); ;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 2%;
    text-transform: capitalize;
    text-align: center;
    box-shadow: inset 3px 2px 22px 3px var(--cor01);
     
 }

 header h1 {
     color: var(--cor01);
     text-shadow: 2px 2px 4px #0e2713;
 }
 
 nav {
    background-image: linear-gradient(to top, var(--cor01), var(--cor06));
    color: var(--cor-texto-botao);
    box-shadow: inset 10px 26px 69px 30px var(--cor01);
    box-sizing: border-box;
    text-indent: 3%;
    text-transform: capitalize;
    display: flex;
 }
 
 nav a {
    font-weight: bold;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    min-width: 100px;
    max-width: 700px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    
 }
 
 nav a:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor05);
 }


 nav a::after {
    background-color: var(--cor03);
    height: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--cor03);
 }
  
 a { 
      background-color: var(--cor-botao);
 }

 main {
    background-color: white;
    background-clip: padding-box;
    color: forestgreen;
    margin: auto;
    padding: 10px 15px;
    text-align: center;
    text-shadow: #63ff53 1px 1px 1px;;
    display: flex;
 }

 main article {
   margin: 10px;
   padding: 10px;
   border: 0px solid #255531;
 }
 

 section {
     border: 0px solid green;
     margin: 20px;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-position: left center;
}

section.conteudo {
   margin: 15px;
   padding: 10px;
   text-align: left;
   font-size: 16px;
}

 footer {
     background-color: var(--cor-rodape);
     padding: 0px;
     margin: 0px;
     color: lightgreen;
     
 }

 footer p {
     text-align: center;
     font-size: 14px;
     margin: 15px 10px;
     padding: 12px;
 }