@charset "UTF-8";




:root {
/*<<<<<<< HEAD*/
     --fonteprincipal: 'Arial';
     --font-padrao: 12px;
     --cor01: #3aff09;
     --cor02: #2fd705;
     --cor03: #29a909;
     --cor04: #1b6a07;
     --cor05: #0e3903;
     --cor-fundo: #cdffcd;
     --cor-botao: #2e6123;
     --cor-botao-hover: #9bffa0;
     --cor-texto: #0a4504;
     --cor-texto-botao: #f7ffe6;
     --fonte-principal: 'Arial';
     --fonte-tamanho: 12px;
     --cor01: #54ff29;
     --cor02: #34e009;
     --cor03: #27ae06;
     --cor04: #1f7c08;
     --cor05: #1b7006;
     --cor06: #134d03;
     --cor-fundo: #c0fdc0;
     --cor-botao: #25960b;
     --cor-botao-hover: #5df365;
     --cor-texto: #0a4504;
     --cor-texto-botao: #e7ffe7;
     --cor-rodape: #485545;
 }

 * {
/*<<<<<<< HEAD*/
   font-family: var(--fonteprincipal);
   
/*=======*/
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-principal);
 }
 
 body {
     background-color: var(--cor-fundo);
     color: var(--cor-texto);
     text-align: justify;
     margin: auto;
 }
 header {
     height: 75px;
     background-image: linear-gradient(to top, var(--cor02), var(--cor04));
     padding-top: 10px;
     margin: auto;
     text-align: center;

 }
 header {
    height: 65px;
    background-image: linear-gradient(to top, var(--cor01), var(--cor06)); ;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 2%;
    text-transform: capitalize;
    text-align: center;
    box-shadow: inset 3px 2px 22px 3px var(--cor01);
     
 }

 header h1 {
/**/
     font-size: 32px;
     color: #77fb7c;
     text-shadow: 2px 2px 4px #000000;
 }
 
 nav {
    font-weight: bold;
    display: inline-block;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-transform: capitalize;
    margin-left: 580px;
 }
 
 nav > button {
    font-weight: bold;
    font-size: 12px;    background-color: var(--cor-botao);
    color: var(--cor02);
    border-radius: 12px;
    padding: 10px 20px;
    text-align: justify;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    margin: 6px 4px solid var(--cor-fundo);
    transition-duration: 0.5s;
    cursor: pointer;
    
 }
 
 nav > button:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor05);
 }  

 button a {
    height: 10px;
    text-decoration: none;
    color: inherit;
    align-items: normal;
    display: inline-block;
 }

 main {
   /*max-width: 500px; */
     background-color: white;
     color: forestgreen;
     margin: auto;
     color: var(--cor01);
     text-shadow: 2px 2px 4px #0e2713;
 }
 
 nav {
    background-image: linear-gradient(to top, var(--cor01), var(--cor06));
    color: var(--cor-texto-botao);
    box-shadow: inset 10px 26px 69px 30px var(--cor01);
    box-sizing: border-box;
    text-indent: 3%;
    text-transform: capitalize;
    display: flex;
 }
 
 nav a {
    font-weight: bold;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    min-width: 100px;
    max-width: 700px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    
 }
 
 nav a:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor05);

 }


 nav a::after {
    background-color: var(--cor03);
    height: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--cor03);
 }
  
 a { 
      background-color: var(--cor-botao);
 }

 main {
    background-color: white;
    background-clip: padding-box;
    color: forestgreen;
    margin: auto;
    padding: 10px 15px;
    text-align: center;
    text-shadow: #63ff53 1px 1px 1px;;
    display: flex;
 }

 main article {
   margin: 10px;
   padding: 10px;
   border: 0px solid #255531;
 }
 

 section {
     border: 0px solid green;
     margin: 20px;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-position: left center;
}

section.conteudo {
   margin: 15px;
   padding: 10px;
   text-align: left;
   font-size: 16px;
}

 footer {
     background-color: var(--cor-rodape);
/*<<<<<<< HEAD
     padding: auto;
     margin: auto;
=======*/
     padding: 0px;
     margin: 0px;
/*>>>>>>> 341f67e2e5a447efe5db47f8dcc5614f3c7133f2*/
     color: lightgreen;
     
 }

 footer p {
     text-align: center;
     font-size: 14px;
     margin: 12px;
 }

 
 /*1. Pagina inicial */
.paginaInicial {
    background-image: linear-gradient(to left, var(--cor02), var(--cor04));
    display: flex;
    
}


.paginaInicialTexto {
    margin-right: 100px;
    margin-top: 60px;
    color: var(--cor-texto-botao);
    background-color: var(--cor-texto);
    padding:  0px 20px 0px;
    border-radius: 20px;
    
}

.paginaInicialTexto h1 {
    text-align: center;
    color: var(--cor02);
}

.paginaInicialTexto p {
    font-size: 23px;
    text-align: left;
    padding: 10px 0px 30px;
}



.paginaInicial a {
    height: 60px;
    width: 400px;
    font-size: 25px;
    font-weight: bold;
    background-color: var(--cor-botao);
    color: var(--cor02);
    border-radius: 12px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px solid var(--cor-fundo);
    transition-duration: 0.5s;
}

.paginaInicial a:hover{
    background-color: var(--cor-botao-hover);
    color: var(--cor05);
}

.paginaInicialImagem {
    width: 800px;
    height: 500px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 40px;
    
}


/*2. principiosBasicos*/
.conteinerTexto {
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    font-size: 20px;    
}

.textoPrincipiosBásicos{
    flex: 4;
    padding: 0px 20px 0px;
    margin: 20px 20px 0px;
    background-color: var(--cor-fundo);
    border-radius: 3px;
    border: #29a909;
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-indent: 16px;
}

.textoPrincipiosBásicos h2{
    text-align: center;
}

.imgTextoPrinciopiosBásicos {
    width: 350px;
    height: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
}


/*3. Anuncios na Lateral*/
.anuncios{
    margin: 20px 0px 0px;
    background-color: rgb(243, 242, 245);
    flex: 1.2;
    
    
}

.anuncio1{
    position: sticky;
    top: 1px;
}

.anuncio2{
    width: 210px ;
    height: 300px;
    margin: 110px 0px 0px;
    display: block;
    position: sticky;
    top: 300px;
    
}
 
/*>>>>>>> 341f67e2e5a447efe5db47f8dcc5614f3c7133f2*/