@charset "UTF-8";




:root {
     --fonte-principal: 'Arial';
     --fonte-tamanho: 12px;
     --cor01: #3aff09;
     --cor02: #2fd705;
     --cor03: #29a909;
     --cor04: #1b6a07;
     --cor05: #0e3903;
     --cor-fundo: #cdffcd;
     --cor-botao: #2e6123;
     --cor-botao-hover: #9bffa0;
     --cor-texto: #0a4504;
     --cor-texto-botao: #f7ffe6;
     --cor-rodape: #485545;
 }

 * {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-principal);
    font-size: var(--fonte-tamanho);
 }
 
 body {
     background-color: var(--cor-fundo);
     color: var(--cor-texto);
     text-align: justify;
     text-overflow: clip;
     margin: auto;
 }
 header {
     height: 75px;
     background-image: linear-gradient(to top, var(--cor02), var(--cor04));
     padding-top: 15px;
     margin: auto;
     text-align: center;
     
 }

 header h1 {
     font-size: 32px;
     color: #77fb7c;
     text-shadow: 2px 2px 4px #000000;
 }
 
 nav {
    display: block;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    box-shadow: 0px 4px 6px var(--cor03, --cor02);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-transform: capitalize;
 }
 
 nav > button {
    font-weight: bold;
    font-size: 12px;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    border-radius: 12px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
    display: inline-flex;
    transition-duration: 0.5s;
    cursor: pointer;
    
 }
 
 nav > button:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor05);
 }  

 button a {
    height: 10px;
    text-align: justify;
    text-decoration: none;
    color: inherit;
    align-items: normal;
    display: flex;
 }

 main {
    width: 600px;
    height: 200px;
    background-color: white;
    color: forestgreen;
    margin: 0px;
    padding: 5px;
    position: relative;
 }

 .conteudo {
    margin: 15px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
 }

 article {
     border: 0px solid green;
     margin: 20px;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-position: left bottom;
}

 footer {
     background-color: var(--cor-rodape);
     padding: auto;
     margin: auto;
     color: lightgreen;
     
 }

 footer p {
     text-align: center;
     font-size: 14px;
     margin: 15px;
 }