<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pagina Inicial</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='icones/favicon.ico') }}" type="image/x-icon" />

</head>

<body class="paginaInicial">
  <main>
    <div class="paginaInicial">
      <img class="paginaInicialImagem"
        src="{{url_for('static', filename='imagens/FOTO-PRINCIPAL-A-CREDITO-AdobeStock.webp')}}" alt="Logo">

      <div class="paginaInicialTexto">
        <h1>Crédito de Carbono</h1>
        <p>
          Nesse site, abordaremos os principais conceitos sobre créditos de
          carbono, certificados que representam a redução ou compensação das
          emissões de gases de efeito estufa. Esses créditos incentivam
          práticas sustentáveis, permitindo que empresas e pessoas contribuam
          para a diminuição do impacto ambiental e o combate às mudanças
          climáticas.
        </p>
        <a href="/principiosBasicosCB">Vamos lá</a>



      </div>
    </div>
  </main>
  <footer></footer>
</body>

</html>