<!doctype html>
<html lang="pt-br">

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Crédito de Carbono</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="shortcut icon" href="{{url_for('static', filename='icones/favicon.ico')}}" type="image/x-icon">

</head>

<body>
     <header>
          <h1>{{ nome }}</h1>
     </header>

     <nav>
          <a href="{{ url_for('index') }}">Inicio</a>
          <a href="/creditos">Principios Básicos dos Créditos de Carbono</a>
          <a href="/metodologias">Metodologias de Calculo de Emissões</a>
          <a href="/mercados">Mercados de Carbono</a>
     </nav>

     <main>
          <section>
               <article>
                    <h2>Introdução sobre {{ nome }}</h2>
                    <p></p>
               </article>
          </section>
     </main>
</body>

</html>