<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icones/favicon.ico' )}}"
      type="image/x-icon"
    />
    <title>Emissões de Co2</title>
  </head>

  <body>
    <header>
      <h1>Crédito de Carbono</h1>
    </header>

    <nav>
      <button type="Inicio">
        <a href="{{ url_for('index') }}">Calculadora</a>
      </button>
      <button type="Introdução">
        <a href="{{ url_for('principiosBasicosCB') }}">Principios Basicos</a>
      </button>
      <button type="Credito de Carbono">
        <a href="{{ url_for('mercadoDeCarbono')}}">Mercado de Carbono</a>
      </button>
    </nav>

    <main></main>

    <footer></footer>
  </body>
</html>
