<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calculadora de Carbono 🌱</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />


  <!-- Biblioteca Chart.js para o gráfico -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>




<body>
  <!-- Cabeçalho -->
  <header>
    <h1>Crédito de Carbono</h1>
    <nav>
      <a href="{{ url_for('about') }}">Pesquisas</a>
      <a href="{{ url_for('index')}}">Calculadora</a>
      <a href="#sobre">Sobre</a>
    </nav>
  </header>

  <!-- Seção inicial -->
  <section id="home">
    <h2>Bem-vindo 🌍</h2>
    <p>
      Descubra sua pegada de carbono e veja como compensá-la de forma
      consciente.
    </p>
    <a href="#calculadora" class="botao-principal">Começar Agora</a>
  </section>

  <!-- Seção da calculadora -->
  <section id="calculadora">
    <h2>Calculadora de Carbono</h2>

    <div id="quiz-container">
      <div id="pergunta-container"></div>
      <div id="resultado-container" style="display: none"></div>
    </div>

    <button id="btn-proximo" class="btn-verde">Próximo</button>
  </section>

  <!-- Seção sobre -->
  <section id="sobre">
    <h2>Sobre o Projeto</h2>
    <p>
      Este site foi desenvolvido para ajudar as pessoas a entender o impacto
      das suas ações no meio ambiente e incentivar práticas mais sustentáveis
      para um planeta mais verde. 🌎
    </p>
  </section>

  <!-- Rodapé -->
  <footer>
    <p>
      Desenvolvido por <b>Uriel Rodrigues de Oliveira</b> — APS IPE © 2025
    </p>
  </footer>

  <!-- Script externo -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>