<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Mercados</title>
     <link rel="stylesheet" href="../static/css/style.css">
     <link rel="shortcut icon" href="../static/icones/favicon.ico" type="image/x-icon">
</head>

<body>
     <header>
          <h1>Mercados de Crédito de Carbono</h1>
     </header>

     <nav>
          <button type="submit"><a href="../templates/homepage.html">Introdução</a></button>
          <button type="submit"><a href="../templates/metodologias.html">Metodologias</a></button>
          <button type="submit"><a href="../calculadora/quiz_interface.py">APP-Calculadora</a></button>

     </nav>

     <main>
          <article>
               <section class="conteudo">
                    <h2>O que são Mercados de Carbono?</h2>
                    <p>Os Mercados de Carbono são formas de contribuição com a agenda de mitigação de emissões de gases
                         de efeito estufa (GEE).</p>
               </section>

               <section class="design">
                    <picture>
                         <source srcset="" type="../static/imagens">
                    </picture>
               </section>
          </article>
     </main>

     <footer>
          <p>© 2025 Crédito de Carbono. Todos os direitos reservados.</p>
     </footer>

</body>

</html>