<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercados de Carbono</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/secundario.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icones/favicon.ico')}}"
      type="image/x-icon"
    />
  </head>

  <body>
    <header>
      <h1>Crédito de Carbono</h1>
    </header>

    <nav>
      <button type="Inicio">
        <a href="{{ url_for('index') }}">Calculadora</a>
      </button>
      <button type="Introdução">
        <a href="{{ url_for('principiosBasicosCB') }}">Princípios Básicos</a>
      </button>
      <button type="Efeito Estufa">
        <a href="{{ url_for('emissoes') }}">Emissões de CO2</a>
      </button>
    </nav>

    <main>
      <div class="Creditos">
        <h2>Introdução H2.1</h2>
        <p>
          Vamos falar sobre crédito de carbono (CO2), e para entendermos isso
          precisamos falar do meio ambiente e consequentemente falarmos de
          sustentabilidade. uma preocupação mundial que já algum tempo traz
          muitas discussões do que está ou não está certo e como devemos
          preservar os recursos naturais para não existir uma escassez desses
          recursos.Depois de algumas discussões nos anos 90 a ideia de mercado
          de carbono foi transformada em instrumento legal com a assinatura do
          Protocolo de Kyoto para combater as mudanças climáticas.Então vamos
          explorar um pouco sobre esse assunto de crédito de carbono (CO2) para
          mostrar como podemos tirar vantagens dessa nova modalidade.
        </p>
      </div>
      <div class="Meio_Ambiente">
        <h2>Meio Ambiente H2.2</h2>
        <p>
          Meio ambiente é o conjunto de elementos, processos e dinâmicas
          biológicos, físicos e químicos que criam condições e mantêm a vida no
          planeta Terra, compreendendo também os seres humanos e as dinâmicas
          sociais, culturais e econômicas. O meio ambiente é composto pela
          biosfera, hidrosfera, atmosfera e litosfera. É dele que retiramos os
          elementos essenciais para a nossa sobrevivência, como água, ar,
          alimentos e matérias-primas, um dos motivos pelos quais a sua
          conservação se faz tão importante.
        </p>
        <p>
          Do ponto de vista da Geografia, o meio ambiente compreende também todo
          o espaço natural e o espaço geográfico, aquele espaço dinâmico que se
          encontra em processo de modificação pela ação antrópica. Assim,
          devemos levar em consideração que os seres humanos e a sua organização
          social e econômica são parte do meio ambiente, interagindo com ele e
          modificando-o de acordo com a sua necessidade.
        </p>
        <p>
          Os problemas ambientais podem ser ocasionados de várias formas, como
          pelo crescimento das áreas urbanizadas, pela abertura de novas áreas
          para o desenvolvimento da atividade agropecuária, pela intensificação
          da atividade industrial nos centros urbanos e pelo manejo inadequado
          dos recursos naturais. Eles resultam em consequências de médio e longo
          prazo para os seres humanos e para todas as demais esferas do meio
          ambiente. A preservação do meio ambiente diz respeito ao conjunto de
          medidas e práticas adotadas a fim de proteger integralmente uma área
          ou um recurso natural da interferência de agentes externos, o que
          inclui a ação humana, que possam afetar o equilíbrio daquele
          ecossistema e prejudicar o seu funcionamento, ocasionando até mesmo
          perdas irreparáveis. Nesse sentido, ela serve ao propósito de se
          manter a área protegida intocada.
        </p>
        <h2>Efeito Estufa h2.3</h2>
        <p>
          O planeta Terra é coberto por uma camada de gases, composta
          principalmente por gás carbônico (CO²), metano (CH4), óxido nitroso
          (N²O) e vapor d’água, que impede que o calor dos raios solares
          absorvido se disperse totalmente, mantendo equilibrada a temperatura
          no planeta. Explicando melhor, parte da radiação solar que chega na
          Terra é refletida e retorna para o espaço. Outra parte é absorvida
          pela superfície terrestre e pelos oceanos. E uma outra parcela é
          retida por esta camada de gases, que causa um fenômeno natural,
          fundamental para a manutenção da vida na Terra, chamado de efeito
          estufa. Sem ele, a Terra seria extremamente fria, o que não permitiria
          a existência e sobrevivência das espécies. Porém, essa camada de gases
          vem aumentando com o passar dos anos, devido a certas atividades
          humanas, que emitem uma grande quantidade de gases formadores do
          efeito estufa, os chamados GEE – gases de efeito estufa (o dióxido de
          carbono, o metano, o óxido nitroso e os CFCs – clorofluorcarbonos,
          causadores do “buraco” na camada de ozônio), fato que tem aumentado a
          temperatura da atmosfera terrestre e dos oceanos e ocasionado o
          aquecimento global.
        </p>
        <p>
          Com a Revolução Industrial, a humanidade passou a emitir quantidades
          gigantescas de gases de efeito estufa, o que aumentou com o passar do
          tempo.As mudanças climáticas, que podem também ter causas naturais,
          como alterações na radiação emitida pelo Sol e dos movimentos da
          órbita da Terra, têm se agravado devido a atividades humanas que
          aumentam o aquecimento global, como: a queima de combustíveis fósseis
          (derivados do petróleo, como diesel e gasolina, carvão mineral e gás
          natural) para geração de energia, atividades industriais e transporte;
          agropecuária; descarte de resíduos sólidos; queimadas e desmatamento.
        </p>
      </div>
      <div>
        <h2>Mercado de Carbono h2.4</h2>
        <p>
          O mercado de carbono é uma das estratégias globais para encorajar os
          setores públicos e privados a contribuírem com a agenda climática de
          mitigação de emissões de GEE (gases do efeito estufa). No cenário de
          transações comerciais, essa missão conjunta dentro das atividades
          produtivas passa a ter um valor econômico.
        </p>
        <p>
          Sistemas foram criados para comercializar créditos de carbono (CO2),
          cotas e permissões entre os atores globais que vão se engajar de
          maneira voluntária ou querendo cumprir políticas para regular a
          emissão desses gases.O objetivo de reduzir as emissões dos GEEs na
          atmosfera está vinculado aos compromissos climáticos acordados entre
          os países poluidores, que teve início com a assinatura do Protocolo de
          Kyoto (1997), seguido pelo amadurecimento das negociações climáticas
          com o Acordo de Paris (2015).
        </p>
      </div>
      <div>
        <h2>Credito de Carbono h2.5</h2>
        <p>
          Créditos de carbono (CO2) representam um mercado de créditos gerados
          com base na não emissão de gases de efeito estufa à atmosfera, podendo
          ser comercializados entre países.Crédito de carbono é um conceito,
          surgido a partir do Protocolo de Kyoto em 1997, que visa à diminuição
          dos gases de efeito estufa, que provocam diversos problemas ambientais
          associados às mudanças climáticas.Esses créditos fazem parte de um
          mecanismo de flexibilização que auxilia os países que possuem metas de
          redução da emissão de gases poluentes a alcançá-las. Considerados a
          moeda do chamado mercado de carbono, os créditos de carbono
          representam a não emissão de dióxido de carbono à atmosfera.
        </p>
        <p>
          A cada uma tonelada não emitida, gera-se um crédito de carbono. Assim,
          quando um país consegue reduzir a emissão dessa tonelada, ele recebe
          uma certificação emitida pelo Mecanismo de Desenvolvimento Limpo
          (MDL), ou seja, recebe os créditos que estarão disponíveis para serem
          comercializados com os países que não alcançaram suas metas.A geração
          do crédito, segundo a empresa Sustainanble Carbon, é realizada à
          medida que os países se esforçam em projetos e ações que visam ao
          desenvolvimento sustentável, evitando, assim, o aumento do efeito
          estufa. Exemplos desses projetos são o empenho em reduzir os níveis de
          desmatamento, as campanhas para o consumo consciente, o uso de fontes
          de energia alternativas, entre outros.
        </p>
      </div>
      <div>
        <h2></h2>
        <p></p>
      </div>
    </main>

    <footer>
      <p>© 2025/ Crédito de Carbono. Todos os direitos reservados.</p>
      <p></p>
    </footer>
  </body>
</html>
