<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Metodologias</title>
     <link rel="stylesheet" href="../static/css/style.css">
     <link rel="shortcut icon" href="../static/icones/favicon.ico" type="image/x-icon">
</head>

<body>
     <header>
          <h1>Metodologias de Cálculo de Emissões</h1>
     </header>

     <nav>
          <button type="submit"><a href="../templates/homepage.html">Introdução</a></button>
          <button type="submit"><a href="../templates/mercados.html">Mercados de Carbono</a></button>
          <button type="submit"><a href="../calculadora/quiz_interface.py">APP-Calculadora</a></button>

     </nav>
</body>

</html>