<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{ nome }}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="shortcut icon" href="{{url_for('static', filename='icones/favicon.ico')}}" type="image/x-icon">
</head>

<body>
     <header>
          <h1>{{ nome }}</h1>
     </header>

     <nav>
          <a href="{{ url_for('index') }}">Inicio</a>
          <a href="/creditos">Principios Básicos dos Créditos de Carbono</a>
          <a href="/metodologias">Metodologias de Calculo de Emissões</a>
          <a href="/mercados">Mercados de Carbono</a>
     </nav>

     <main>
          <article>
               <section class="conteudo">
                    <h2>Quais são as Metodologias de Cálculo de Emissões de CO2?</h2>
                    <p>As Metodologias de Cálculo de Emissões de CO2 são conjuntos de diretrizes e procedimentos
                         estabelecidos para quantificar as emissões de dióxido de carbono (CO2) geradas por diversas
                         atividades humanas, como transporte, produção industrial, uso de energia, entre outras.</p>
               </section>

               <section class="design">
                    <picture>
                         <source srcset="" type="{{url_for('static', filename='imagens/')}}">
                    </picture>
               </section>
          </article>
     </main>

     <footer>
          <p>© 2025 Emissões de CO2. Todos os direitos reservados.</p>
     </footer>
</body>

</html>